<section id="features" class="features">
  <div class="container container--page">
    <ul class="list list--features">
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/msg.png" alt="SpeakUp Message"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">Speak your mind!</h2>
          <p>Improve interactions and participation in your brainstorm sessions and your classes through anonymous posts, comments and votes.</p>
        </div>
      </li>
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/mcq.png" alt="SpeakUp MCQ"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">Get the pulse</h2>
          <p>Assess the knowledge of the crowd through simple interactive polls. As room admin, create single- and multi-select polls (press + in the room). Set solutions, show results directly to your audience after they vote, or mannually close the poll (on/off switch) and show the results (eye icon).</p>
        </div>
      </li>
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/admin.png" alt="Admin Key"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">Admin key</h2>
          <p>Room creators have admin rights on the room (right to delete messages, create polls, close rooms). You can now share admin rights with others. To get the admin key, press the room name on iOS and Android. Press the room menu on the web app. Note that one admin key expires after 24 hours if it is not used and is only valid for one other user.</p>
        </div>
      </li>
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/nickname.png" alt="Nicknames"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">Nicknames</h2>
          <p>Add a bit of identity, by creating rooms that require nicknames from users. Note that two users can have the same nickname in a room.</p>
        </div>
      </li>
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/golab.png" alt="Go-Lab"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">Go for Go-Lab!</h2>
          <p>Use SpeakUp in a <a href="http://golabz.eu">Go-Lab</a> inquiry learning space combined with Go-Lab's rich educational resources including online labs and interactive scaffolding apps. View the tutorial videos on the <a href="http://www.golabz.eu/apps/speakup"> Go-Lab Portal</a>.</p>
        </div>
      </li>
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/moodle.png" alt="Moodle"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">Integrate with Moodle</h2>
          <p>Add your SpeakUp room as a module in Moodle or in other <a href="https://docs.moodle.org/32/en/LTI_and_Moodle">LTI</a> consumers. More details in the <a href="/img/features/lti.pdf">tutorial</a>.</p>
        </div>
      </li>
      <li class="list-item feature">
        <img class="list-item__preview feature__photo" src="/img/features/pi.png" alt="Raspberry Pi 3"/>
        <div class="list-item__content feature__description">
          <h2 class="feature__heading">No Internet?</h2>
          <p>If your Internet connection is not reliable, no problem, with the SpeakUpBox you can use the app anywhere. The SpeakUpBox creates a local WiFi network that can be joined by users located nearby. In terms of privacy, all data remains in the box. Tested on the field with UNHCR and MSF.  <a href="mailto:seanceassociation@gmail.com?subject=SpeakUpBox">Contact us</a> for more details.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
