<section id="intro" class="intro">
  <div class="container container--page container--home">
   <div class="alertbanner">
      <img src="/img/home/warning.jpg" alt="" width="80" height="80" id="warningimg"/>
      <h3><strong>NEWS:</strong> A brand new version of SpeakUp will be available on Tuesday August <strike>10th</strike> <strong>17th at 12:00 CET</strong>.</br> You can try out our beta version here: <a href="https://speakup.unine.ch">https://speakup.unine.ch</a></h3>
      <h3><strong>WARNING:</strong> The current version will be discontinued on that date, no data will be transferred,</br> make sure you save your data before if needed.</h3>
    </div>
    
    <h1 class="intro__heading">Rich classroom interaction</h1>
    <h2 class="intro__subheading">Let your audience anonymously share and rate each other's questions to answer the best ones.</h2>
    <p><a class="intro__web-app-link" href="https://web.speakup.info/" target="_blank">Open the web app</a> or</p>
    <div class="intro__store-buttons">
      <a class="intro__store-link" href="https://itunes.apple.com/us/app/speakup/id526063560?mt=8&uo=4" target="_blank">
        <img class="intro__store-button" src="/img/home/app-store.svg" title="Download SpeakUp from the iTunes App Store">
      </a>
      <a class="intro__store-link" href="https://play.google.com/store/apps/details?id=ch.epfl.react.speakup" target="_blank">
        <img class="intro__store-button" src="/img/home/google-play.svg" title="Download SpeakUp from the Google Play Store">
      </a>
    </div>
   
    <div class="intro__media">
      <img class="intro__screenshot" src="/img/home/screenshot-web-and-mobile.png" alt="SpeakUp screenshots"/>
      <img class="intro__play" src="/img/home/play.png" alt="Play"/>
      <iframe class="intro__video" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section id="details" class="details highlight">
  <div class="container container--page container--home">
    <div class="details__media">
      <img class="details__screenshot" src="/img/home/screenshot-mobile.png" alt="SpeakUp app"/>
    </div>
    <div class="details__content">
      <p><strong>Increase participation</strong> in your classroom by providing an open chatroom for anonymous questions with no need to create an account</p>
      <p><strong>Enrich class discussion</strong> by allowing all students to express their opinions and express their agreement with other opinions</p>
      <p><strong>Assess knowledge</strong> and trigger peer instruction sessions through multiple choice polls.</p>
      <p>For help using SpeakUp, download the tutorial in <a class="details__link" href="/bib/speakup-tutorial.pdf" target="_blank">English</a> or <a class="details__link" href="/bib/speakup-tutorial-fr-new.pdf" target="_blank">French</a>.</p>
    </div>
  </div>
</section>
