<section id="publications" class="publications">
  <div class="container container--page">
    <ul class="list publications-list">
           <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/tlt-2020.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/ithet-2014.jpg" alt="Instruction, Student Engagement and Learning Outcomes: A Case Study Using Anonymous Social Media in a Face-to-face Classroom"/>
          </a>
        </div>
        <p class="list-item__content publication__description">M.-J. Rodriguez-Triana, L. Prieto, A. Holzer, D. Gillet. "Instruction, Student Engagement and Learning Outcomes: A Case Study Using Anonymous Social Media in a Face-to-face Classroom". In IEEE TLT. 2020.</p>
      </li>
       <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/tlt-2018.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/ithet-2014.jpg" alt="Blending Digital and Face-to-face Interaction using a Co-located Social Media App in Class"/>
          </a>
        </div>
        <p class="list-item__content publication__description">S. Govaerts, A. Holzer, B. Kocher, A. Vozniuk, B. Garbinato, D. Gillet. "Blending Digital and Face-to-face Interaction using a Co-located Social Media App in Class". In IEEE TLT. 2018.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/2018-CHI-EA.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/2018-CHI-EA.jpg" alt="2018-CHI-EA"/>
          </a>
        </div>
        <p class="list-item__content publication__description">A. Holzer, N. Tintarev, S. Bendahan, B. Kocher, S. Greenup, D. Gillet. "Digitally Scaffolding Debate in the Classroom". In CHI'18 EA. 2018.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/2017-ICTD-SpeakUpBox.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/2017-ICTD.jpg" alt="2017-ICTD-SpeakUpBox"/>
          </a>
        </div>
        <p class="list-item__content publication__description">Y. Xu, A. Holzer, C. Maitland, D. Gillet. "Community Building with Co-located Social Media: A Field Experiment with Syrian Refugees". ICTD '17. 2017.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/uniscope-2016.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/uniscope-2016.jpg" alt="Avez-vous des questions?"/>
          </a>
        </div>
        <p class="list-item__content publication__description">D. Trotta. "Avez-vous des questions?". l'Uniscope N°618. Université de Lausanne. 2016.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="http://actu.epfl.ch/news/an-app-to-facilitate-classroom-discussions/" target="_blank">
            <img class="publication__photo" src="/img/publications/epfl-2016.jpg" alt="An app to facilitate classroom discussions"/>
          </a>
        </div>
        <p class="list-item__content publication__description">S. Bourquenoud. "An app to facilitate classroom discussions". EPFL Teaching Portal. 2016.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/mobilehci-2016.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/mobilehci-2016.jpg" alt="Rule of Thumb Effect of Social Button Icons on Interaction"/>
          </a>
        </div>
        <p class="list-item__content publication__description">A. Holzer, A. Vozniuk, S. Bendahan, D. Gillet. "Rule of Thumb Effect of Social Button Icons on Interaction". In ACM MobileHCI’16 EA. 2016.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/ectel-2016.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/ectel-2016.jpg" alt="Examining the effects of social media in co-located classrooms: A case study based on SpeakUp"/>
          </a>
        </div>
        <p class="list-item__content publication__description">M.J. Rodriguez-Triana, A. Holzer, L.P. Prieto, and D. Gillet. "Examining the effects of social media in co-located classrooms: A case study based on SpeakUp". In EC-TEL’16. 2016. Best paper award.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/nordichi-2014.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/nordichi-2014.jpg" alt="Enriching face-to-face and digital interaction with SpeakUp: challenges & lessons learned"/>
          </a>
        </div>
        <p class="list-item__content publication__description">S. Govaerts, A. Holzer, D. Gillet. "Enriching face-to-face and digital interaction with SpeakUp: challenges & lessons learned". In the Personal or Social? workshop at NordiCHI’14. 2014.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/chi-2014.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/chi-2014.jpg" alt="Speakup in the classroom: Anonymous temporary social media for better interaction"/>
          </a>
        </div>
        <p class="list-item__content publication__description">A. Holzer, S. Govaerts, A. Vozniuk, B. Kocher, and D. Gillet. "Speakup in the classroom: Anonymous temporary social media for better interaction". In CHI'14 EA. 2014.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/ithet-2014.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/ithet-2014.jpg" alt="Early Awareness of Global Issues and Development of Soft Skills in Engineering Education: An Interdisciplinary Approach to Communication"/>
          </a>
        </div>
        <p class="list-item__content publication__description">A. Holzer, S. Bendahan, I. Vonèche Cardia, D. Gillet. "Early Awareness of Global Issues and Development of Soft Skills in Engineering Education: An Interdisciplinary Approach to Communication". In ITHET'14. 2014.</p>
      </li>
      <li class="list-item publication">
        <div class="list-item__preview publication__photo-container">
          <a href="/bib/icwl-2013.pdf" target="_blank">
            <img class="publication__photo" src="/img/publications/icwl-2013.jpg" alt="SpeakUp - A Mobile App Facilitating Audience Interaction"/>
          </a>
        </div>
        <p class="list-item__content publication__description">A. Holzer, S. Govaerts, J. Ondrus, A. Vozniuk, D. Rigaud, B. Garbinato, D. Gillet. "SpeakUp - A Mobile App Facilitating Audience Interaction". In ICWL'13. 2013.</p>
      </li>
    </ul>
  </div>
</section>
