<section id="team" class="team">
  <div class="container container--page">
    <ul class="list team-list">
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/ah.jpg" alt="Adrian Holzer"/>
        <p class="list-item__content team-member__description">Adrian Holzer, PhD, professor at the University of Neuchâtel. He is president and co-founder of Seance Association.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/sg.jpg" alt="Sten Govaerts"/>
        <p class="list-item__content team-member__description">Sten Govaerts, PhD, independent software engineer. He is a co-founder and board member of Seance Association.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/iv.png" alt="Isabelle Vonèche Cardia"/>
        <p class="list-item__content team-member__description">Isabelle Vonèche Cardia, PhD, deputy director of the EPFL’s College of Humanities. She's a board member of Seance Association.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/cp.jpg" alt="Camille Perrier Depeursinge"/>
        <p class="list-item__content team-member__description">Camille Perrier Depeursinge, PhD, professor at the University of Lausanne, Attorney-at-Law. She's a board member of Seance Association.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/bg.jpg" alt="Benoît Garbinato"/>
        <p class="list-item__content team-member__description">Benoît Garbinato, PhD, professor at the University of Lausanne. He is a co-founder and board member of Seance Association.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/dg.jpg" alt="Denis Gillet"/>
        <p class="list-item__content team-member__description">Denis Gillet, PhD, head of the React Lab at EPFL. He is a co-founder and board member of Seance Association.</p>
      </li>
       <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/es.jpg" alt="Emmanuel Sylvestre"/>
        <p class="list-item__content team-member__description">Emmanuel Sylvestre, PhD, head of the teaching support center at the University of Lausanne. He's a board member of Seance Association.</p>
      </li>
            <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/av.jpg" alt="Andrii Vozniuk"/>
        <p class="list-item__content team-member__description"><a href="https://www.linkedin.com/in/vozniuk/">Andrii Vozniuk</a>, PhD, computer scientist. He is a co-founder of Seance Association.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/aw.jpg" alt="Alex Wild"/>
        <p class="list-item__content team-member__description">Alex Wild is computer scientist. He is part of the design and development team.</p>
      </li>
            <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/jm.png" alt="Jorge Mazuze"/>
        <p class="list-item__content team-member__description">Jorge Mazuze, People Management Trainer In the Learning & Development Unit at MSF Switzerland. He is part of the outreach team.</p>
      </li>    
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/ce.jpg" alt="Catherine El Bez"/>
        <p class="list-item__content team-member__description">Catherine El Bez, PhD, learning engineer at the University of Lausanne. She is part of the pedagogical team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/dd.jpg" alt="Deborah Dominguez"/>
        <p class="list-item__content team-member__description">Deborah Dominguez, pedagogical counselor at the teaching support center at the University of Lausanne. She is part of the pedagogical team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/ss.jpg" alt="Sophie Serry"/>
        <p class="list-item__content team-member__description">Sophie Serry, pedagogical counselor at the teaching support center at the University of Lausanne. She is part of the pedagogical team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/hb.jpg" alt="Harry Bloch"/>
        <p class="list-item__content team-member__description">Harry Bloch, professor at ECAL and independent graphic designer at Harris Blondman studio. He is part of the graphic design team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/mt.jpg" alt="Maria Jesus Rodriguez-Triana"/>
        <p class="list-item__content team-member__description">Maria Jesus Rodriguez-Triana, PhD, senior researcher at the University of Tallin. She is part of the research team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/bk.jpg" alt="Bruno Kocher"/>
        <p class="list-item__content team-member__description">Bruno Kocher, PhD, assistant professor at the University of Lausanne. He is part of the research team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/ap.jpg" alt="Aditya Kumar Purohit"/>
        <p class="list-item__content team-member__description">Aditya Kumar Purohit, PhD Research Assistant at the Université de Neuchâtel. He is part of the outreach and promotion team.</p>
      </li>
      <li class="list-item team-member">
        <img class="list-item__preview team-member__photo" src="/img/team/mg.jpg" alt="Maria Gaci"/>
        <p class="list-item__content team-member__description">Maria Gaci, Doctoral Assistant at the Ecole Polytechnique Fédérale de Lausanne. She is part of design and development team.</p>
      </li>
      <li class="list-item team-member">
        <p>Other collaborators include work on translations and code by: Daniel Forte Marques, Amaury Combes, Igor Vokatch, Julien Willimann, Marco Goretti, Mouna Allani, Wissam Halimi, Miji Kim, Na Li, Yiwei Cao, Wei Zhu, Pablo Orduña & Matthias Heintz.</p>
      </li>
    </ul>
  </div>
</section>
