<section id="terms" class="terms">
  <div class="container container--page">
    <p>SpeakUp Terms of Use Last updated: December 1, 2016</p>
    <p>By using SpeakUp by Seance Association ("We"), you agree to be bound by the Terms of Use ("Terms") below. If you do not agree with these Terms, you must stop using SpeakUp. Note that we may update these Terms in our sole discretion. We encourage you to frequently review these terms. Your continued usage of SpeakUp will confirm your acceptance of the updated Terms.</p>
    <h2 class="terms__heading">Collection of Information</h2>
    <p>Since SpeakUp does not require signing up, you do not need to provide us any information directly. When you access or use our Services, we automatically collect usage information and metadata, including:</p>
    <p>- Device Information: an anonymous identifier is associated with your device.</p>
    <p>- Location Information: With your consent, we may collect information about the location of your device to facilitate your use of certain features of our Services. For example you will see nearby rooms if you provide your location and since rooms are location based, you must share your location to create one.</p>
    <p>- Usage Information: When you create a room, we collect information about the room, such as its name, its creation time, and its location. When you post a message, we collect the content of the message, the creation time, and its location. When you perform an action on a message (e.g. like, dislike, delete) a we collect the action time, and its location.</p>
    <h2 class="terms__heading">Use of Information</h2>
    <p>SpeakUp servers are based in Switzerland and the information we collect is governed by Swiss law. Seance is a non-profit association, we may use collected information for academic research purposes.</p>
    <h2 class="terms__heading">Sharing of Information</h2>
    <p>We may share anonymous usage information with other researchers.</p>
    <h2 class="terms__heading">Analytics Services Provided by Others</h2>
    <p>We use Google Analytics in our mobile and web application to provide us with further real time analytics. For more information about Google Analytics’ privacy practices, please visit <a href="http://www.google.com/intl/en/policies/" target="_blank">http://www.google.com/intl/en/policies/</a>.</p>
    <h2 class="terms__heading">Limitation of usage</h2>
    <p>SpeakUp cannot be used for discussions related to illicit activities or any activity against applicable institutional regulations. Users are solely responsible for the comments they post and the rooms they create.</p> 
    <p>SpeakUp cannot be used for commercial purposes without a proper licence.</p>
    <p>Infringement may lead to legal action.</p>
    <h2 class="terms__heading">Community Guidelines</h2>
    <p>Help us create a positive place where everyone can express themselves.
We do not allow:</p>
    <p>- Harassment / Bullying</p>
    <p>- Racism / Discrimination / Hate speech</p>
    <p>- Offensive language</p>
    <p>- Spamming</p>
    <p>- Abuse of security</p>
  </div>
</section>
